<mat-toolbar  class="paleta">
    <span><img src="../../../../assets/img/logo.png" alt=""></span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/dashboard">Dashboard</button>
    <button mat-button routerLink="/dashboard/training">Training</button>
    <button mat-button routerLink="/dashboard/explore">Explore</button>
    <button mat-button routerLink="/dashboard/challenges">Challenges</button>
    <span class="example-spacer"></span>
    <!-- <button mat-button routerLink="/dashboard">LogOut</button> -->
    <button mat-icon-button class="example-icon" routerLink="/" aria-label="Example icon-button with menu icon">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>