<div class="container">
    <mat-toolbar>
      <span>@anthony09</span>
    </mat-toolbar>
    <mat-card style="margin-top: 10px">
      <form>
          <mat-grid-list cols="7" rowHeight="50px">
              <mat-grid-tile
                    [colspan]="2"
                    [rowspan]="3"
                    [style.background]="'lightgreen'">
                    <img src="../../../assets/img/logo.png">
                </mat-grid-tile>
                <mat-grid-tile
                    [colspan]="1"
                    [rowspan]="1">
                    <button mat-raised-button color="primary">
                      <mat-label>Editar </mat-label>
                      <mat-icon aria-hidden="false" aria-label="Example home icon">mode</mat-icon>
                    </button>
              </mat-grid-tile>
              <mat-grid-tile
                  [colspan]="4"
                  [rowspan]="1">
                  <mat-label><b>Anthony Montero Roman</b></mat-label>
              </mat-grid-tile>
              <mat-grid-tile
                  [colspan]="1"
                  [rowspan]="2">
              </mat-grid-tile>
              <mat-grid-tile
                  [colspan]="4"
                  [rowspan]="2">
                  <button mat-raised-button color="primary">
                    <mat-label>Amigos </mat-label>
                    <mat-icon aria-hidden="false" aria-label="Example home icon">people</mat-icon>
                  </button>
              </mat-grid-tile>
              <mat-grid-tile
                  [colspan]="1"
                  [rowspan]="1">
                  <mat-label><b>Costarricense</b></mat-label>
              </mat-grid-tile>
              <mat-grid-tile
                  [colspan]="1"
                  [rowspan]="1">
                  <mat-label><b>23 años</b></mat-label>
              </mat-grid-tile>
          </mat-grid-list>
          <mat-divider></mat-divider>
      </form>
  </mat-card>
</div>