<mat-toolbar  class="paleta">
    <span><img src="../../../../assets/img/logo.png" alt=""></span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/dashboard-admin/gestion-carrera">Carreras</button>
    <button mat-button routerLink="/dashboard-admin/gestion-grupos">Grupos</button>
    <button mat-button routerLink="/dashboard-admin/gestion-retos">Retos</button>
    <button mat-button routerLink="/dashboard-admin/inscripciones">Inscripciones</button>
    <button mat-button routerLink="/dashboard-admin/reportes-participantes">Reportes</button>
    <button mat-button routerLink="/dashboard-admin/reportes-pocisiones">Posiciones</button>
    <span class="example-spacer"></span>
    <!-- <button mat-button routerLink="/dashboard">LogOut</button> -->
    <button mat-icon-button class="example-icon"  routerLink="/" aria-label="Example icon-button with menu icon">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>