<div class="container">
    <mat-toolbar class="style">
      <span>Registarse</span>
      <button mat-icon-button class="margen" routerLink="/" aria-label="Example icon-button with menu icon">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>



  <div class="container-fluid vh-100" style="margin-top:40px" style="margin-left:430px">
    <div class="" style="margin-top:100px">
        <div class="rounded d-flex justify-content-center">
            <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-dark">
                <div class="text-center">
                    <h3 class="text-primary">Registrarse</h3>
                </div>
                <form action="">
                    <div class="p-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-primary"><i
                                    class="bi bi-person-plus-fill text-white"></i></span>
                            <input type="name"  class="form-control" placeholder="Nombre">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-primary"><i
                                    class="bi bi-person-plus-fill text-white"></i></span>
                            <input type="name"  class="form-control" placeholder="Primer Apellido">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-primary"><i
                                    class="bi bi-person-plus-fill text-white"></i></span>
                            <input type="name"  class="form-control" placeholder="Segundo Apellido">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-primary"><i
                                    class="bi bi-person-plus-fill text-white"></i></span>
                            <input type="years"  class="form-control" placeholder="Edad">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-primary"><i
                                    class="bi bi-person-plus-fill text-white"></i></span>
                            <input type="country"  class="form-control" placeholder="Nacionalidad">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-primary"><i
                                    class="bi bi-person-plus-fill text-white"></i></span>
                            <input type="user"  class="form-control" placeholder="Usuario">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-primary"><i
                                    class="bi bi-key-fill text-white"></i></span>
                            <input type="password"  class="form-control" placeholder="Contraseña">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-primary"><i
                                    class="bi bi-telephone-fill text-white"></i></span>
                            <input type="img"  class="form-control" placeholder="Foto">
                        </div>
                        

                        <button class="boton" mat-raised-button mat-button >Registrarse</button>

                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>